// @import "~bootstrap/scss/bootstrap";

.color-output-1 {
  background-color: rgba(92, 136, 218, 0.6);
}

.color-flag-1 {
  font-weight: bold;
  color: rgba(23, 105, 255, 0.9);
}

.color-hovered-1 {
  background-color: rgb(20, 218, 152);
  cursor: pointer;
  border-color: rgb(14, 190, 132);
  border-width: 2px;
  border-style: solid;
}

.color-clicked-1 {
  background-color: rgb(226, 162, 110);
  cursor: pointer;
  border-color: rgb(182, 101, 35);
  border-width: 2px;
  border-style: solid;
}
