section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem 0rem 3rem;
  flex: 1 1 0%;

  article {
    padding: 0.5rem 1rem;
    background-color: rgb(247, 239, 239);
    border-radius: 0.5rem;
    overflow-y: auto;
    box-shadow: -2px 2px 8px rgb(0 0 0 / 20%);
  }

  > textarea {
    background-color: crimson;
    height: 35vh;
    max-height: 50vh;
    min-height: 20vh;
    box-shadow: -2px 2px 8px rgb(0 0 0 / 20%);
    border-radius: 0.5rem !important;
  }

  &.expression {
    flex: 0 0 3.4em;

    .btn-info {
      background-color: rgb(7, 185, 221);
      color: white;
      box-shadow: -2px 2px 8px rgb(0 0 0 / 10%);
    }
  }

  &.tab-container {
    overflow-y: hidden;
    padding-bottom: 1rem;
    height: 100%;
    max-height: 75vh;
    flex: 4 1;

    .nav-tabs {
      padding-left: 1rem;
      border-bottom: none;

      .nav-item {
        .nav-link {
          padding: 0.3rem;
          border-top-left-radius: 0.4rem;
          border-top-right-radius: 0.4rem;

          &:hover {
            border: 1px solid lightgray;
          }

          &.active {
            background-color: rgb(247, 239, 239);
            border: 1px solid lightgray;
          }
        }
      }
    }

    .tab-block {
      border-radius: 0.5rem !important;
      box-shadow: -2px 2px 8px rgb(0 0 0 / 20%);
      height: 100%;
      overflow-y: hidden;

      .output {
        height: 100%;

        .output-block {
          height: 100%;
          border: 0.1px solid lightgray;

          .output-text {
            font-family: "Roboto", "sans-serif";
            white-space: pre-wrap;
            margin: 0;
            height: 100%;
          }
        }
      }
    }
  }

  .input-text {
    font-family: "Roboto", "sans-serif";
    min-height: 15vh;
  }

  .input-group {
    z-index: 0;
    box-shadow: -2px 2px 8px rgb(0 0 0 / 20%);

    .btn {
      &:focus {
        box-shadow: none !important;
        box-shadow: 2px 2px 8px rgb(13 110 253 / 50%) !important;
      }
    }

    .dropdown-menu {
      min-width: 4rem;
      padding: 0.5rem;

      .form-check .form-check-input,
      .form-check-label {
        cursor: pointer;
      }

      .form-check-label {
        width: 100%;
        user-select: none;
      }
    }
  }

  .replace {
    display: flex;
    flex-direction: column;
    height: 100%;

    .replace-input {
      box-shadow: -2px 2px 8px rgb(0 0 0 / 20%);
    }

    .replace-block {
      overflow-y: auto;
      box-shadow: -2px 2px 8px rgb(0 0 0 / 20%);
      border-radius: 0.5rem;
      margin-top: 1rem;
      height: 100%;
      background: linear-gradient(
        30deg,
        rgb(199, 199, 199) 30%,
        rgb(223 223 223) 90%
      );
      background-color: crimson;
      padding: 0.5rem 0.5rem;
    }
  }
}

.navbar {
  background: linear-gradient(120deg, #52b3ff 30%, #21cbf3 90%);
  i {
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
}

.form-control {
  &:focus {
    border-color: rgb(13 110 253 / 50%) !important;
    box-shadow: -2px 0px 8px rgb(13 110 253 / 50%) !important;
  }
}

//=======================Scroll-bar=======================//

#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

#scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0ae;
  background: linear-gradient(rgb(134, 164, 218), rgb(66, 112, 168));
}
#scroll {
  cursor: auto !important;
}
//========================================================//
