$landscape-width: 35vw;
$portrait-width: 80vw;
$header-height: 3rem;
$anim-time: 0.4s;

#sidebar {
  transition: width $anim-time;
  width: 0;

  @media (orientation: landscape) {
    &.open {
      width: $landscape-width;
    }
  }

  .sidebar {
    box-shadow: -1px 1px 10px rgb(0 0 0 / 45%);
    background-color: #b8e1ff;
    transition: transform $anim-time;
    height: 100%;

    @media (orientation: portrait) {
      width: $portrait-width;
      &.open {
        transform: translateX(-100%);
      }
    }

    @media (orientation: landscape) {
      width: $landscape-width;
    }

    .sidebar-header {
      position: relative;
      height: $header-height;
      display: flex;
      text-align: center;
      align-items: center;

      .sidebar-header-title {
        position: absolute;
        left: 0;
        right: 0;
        font-weight: 500;
      }
    }

    .sidebar-content {
      display: flex;
      flex-direction: column;
      font-family: montserrat;
      overflow-y: auto;
      height: calc(100% - $header-height - 1px);
      width: 100%;

      .sidebar-content-block {
        display: flex;
        flex-direction: column;
        height: 50%;
        margin: 0 1rem;

        &.first {
          margin-top: 1rem;
        }

        .sidebar-content-area {
          display: flex;
          flex-direction: column;
          height: 100%;
          background-color: #79c2f6;
          border-radius: 0.5rem;
          margin: 1rem 0;
          margin-top: 0;
          padding: 0.5rem;
          overflow-y: auto;

          .list-group {
            font-size: 0.9rem;
            padding: 0;
            margin: -0.2rem;

            .list-group-item {
              padding: 0.3rem;
              background-color: #56abe7;
              border: none;
              border-radius: 0.3rem;
              display: grid;
              grid-auto-rows: 1fr;
            }

            .list-group-item-content {
              display: grid;
              grid-column-gap: 4px;
              grid-template-columns: 1.4fr 1fr 0.8fr 1fr;
            }
          }

          hr {
            margin: 0 0.4rem;
            margin-top: 0.1rem;
          }

          .sidebar-content-match-amount {
          }
        }
      }
    }

    hr {
      margin: 0 1.6rem 0 1rem;
    }
  }
}
