@import "~bootstrap/scss/bootstrap";

section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem 0rem 3rem;
  flex: 1 1 0%;

  > article {
    padding: 0.5rem 1rem;
    background-color: rgb(247, 239, 239);
    border-radius: 0.5rem;
    overflow-y: auto;
    box-shadow: -2px 2px 8px rgb(0 0 0 / 20%);
  }

  > textarea {
    height: 100%;
    box-shadow: -2px 2px 8px rgb(0 0 0 / 20%);
    border-radius: 0.5rem !important;
  }

  &.expression {
    flex: 0 1 3.4em;

    .btn-info {
      background-color: rgb(7, 185, 221);
      color: white;
      box-shadow: -2px 2px 8px rgb(0 0 0 / 10%);
    }
  }

  &.output {
    padding-bottom: 1rem;
    overflow-y: auto;

    .output-block {
      height: 100%;
      border: 0.1px solid lightgray;
      .output-text {
        font-family: "Roboto", "sans-serif";
        white-space: pre-wrap;
        margin: 0;
      }
    }
  }

  .input-text {
    font-family: "Roboto", "sans-serif";
  }

  .input-group {
    z-index: 0;
    box-shadow: -2px 2px 8px rgb(0 0 0 / 20%);

    .btn {
      &:focus {
        box-shadow: none !important;
        box-shadow: 2px 2px 8px rgb(13 110 253 / 50%) !important;
      }
    }

    .dropdown-menu {
      min-width: 4rem;
      padding: 0.5rem;

      .form-check .form-check-input,
      .form-check-label {
        cursor: pointer;
      }

      .form-check-label {
        width: 100%;
        user-select: none;
      }
    }
  }
}

.navbar {
  background-color: #79c2f6;
  i {
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
}

.form-control {
  &:focus {
    border-color: rgb(13 110 253 / 50%) !important;
    box-shadow: -2px 0px 8px rgb(13 110 253 / 50%) !important;
  }
}

//=======================Scroll-bar=======================//

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0ae;
  background: linear-gradient(rgb(134, 164, 218), rgb(66, 112, 168));
}

//========================================================//
