@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  display: grid;
  height: 100%;
}

.st {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
